<a href="{{ url }}" class="block w-full">
    <div class="rounded overflow-hidden shadow-lg hover:bg-gray-100 w-full">
        <img class="w-full" src="{{ image }}" alt="{{ title }}">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ title }}</div>
            <p class="text-gray-700 text-base">
                {{ body }}
            </p>
        </div>
    </div>
</a>
